.idea
.DS_STORE
.eslintcache
*.swp
*~
/examples/*/node_modules/
/examples/*/build/
/docs
/report
/node_modules
website/node_modules
/tmp_modules

/packages/*/build/
/packages/*/api/*.api.json
/packages/*/api/*.api.md
/packages/*/coverage/
/packages/*/node_modules/
coverage

.npmrc

npm-debug.log
npm-debug.log*
lerna-debug.log

*.tsbuildinfo
identity-store.json
key-store.json
*.sqlite

.vscode/
node_modules
temp

agent.yml
data