<div id="login">
    <h1>You need to login</h1>

    <img src="https://chart.googleapis.com/chart?chs=400x400&cht=qr&chl={{jwt}}&choe=UTF-8" width="400" height="400"/>
    <div>Waiting for response...</div>
    <div style="margin-top: 40px;word-wrap: break-word;">
    {{jwt}}    

    </div>
</div>

<div id="success"></div>