html {
  background-color: #f5f5f5;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova';
  overflow: hidden;
  font-size: 16px;
}

#root {
  display: flex;
  height: 100vh;
}

#base_styles_container {
  display: flex;
  flex: 1;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
