name: Build, Test and Publish
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'next'
      - 'unstable'

jobs:
  build-test-publish:
    env:
      NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      GH_TOKEN: ${{secrets.GH_TOKEN}}
      GH_USER: ${{secrets.GH_USER}}
      GH_EMAIL: ${{secrets.GH_EMAIL}}
    runs-on: ubuntu-18.04
    services:
      postgres:
        image: postgres:15.1
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: test123
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{secrets.GH_TOKEN}}
      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: 'pnpm'

      - run: pnpm install --force
      - run: pnpm build
      - name: run integration tests
        env:
          INCLUDE_POSTGRES_TESTS: true
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: test123
          POSTGRES_PORT: 5432
        run: pnpm test:integration
      - run: pnpm run docs

      - name: run browser tests
        run: pnpm test:browser

      - name: setup git coordinates
        run: |
          git remote set-url origin https://uport-project:$GH_TOKEN@github.com/uport-project/veramo.git
          git config user.name $GH_USER
          git config user.email $GH_EMAIL

      - name: setup npm registry
        run: |
          echo "@veramo:registry=https://registry.npmjs.org/" > .npmrc
          echo "registry=https://registry.npmjs.org/" >> .npmrc
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          npm whoami

      - name: publish @latest when on main
        if: github.ref == 'refs/heads/main'
        run: pnpm publish:latest

      - name: publish @next when on next
        if: github.ref == 'refs/heads/next'
        run: pnpm publish:next

      - name: publish @unstable when on unstable branch
        if: github.ref == 'refs/heads/unstable'
        run: pnpm publish:unstable
