name: Trigger veramo-website build
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
jobs:
  dispatch:
    permissions:
      contents: write
      actions: write
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -X POST \
            -H 'Authorization: token ${{ secrets.GH_TOKEN }}' \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/veramolabs/veramo-website/dispatches \
            -d '{"event_type":"deploy_website"}'
